h2 {color: #003F87;}

.btn {background-color: #E8C547;}

a {color:#5C80BC;}

.jumbotron {background-color:#003F87;}

h1 {color:#E8C547;}

body {background-color:#F7F9F9;} 

span {margin-left: 2%;}

@media (max-width:768px) {
  img#logo_main {display: none;}
  span {margin-left: 0%;}
}

footer {color:#5C80BC;}
